body {
	background-repeat: no-repeat;
	background-image: url(terapi4.jpg);
	font-family: 'Alegreya Sans', sans-serif;
	background-blend-mode: darken;
}

@media screen and (min-width: 1200px){
	body{
		background-size: cover;
	}
}

@media screen and (min-width: 820px){
	
	a {
		color: #1d1d1b;
		text-align: center;
		text-decoration: none;
		font-size: 200%;
	}


	.text-background {
		width: 86%;
		height: 100%;
		margin: auto;
		border-radius: 20px;
		background-color: white;
	}

	.column a:link,.column a:visited { 
    	color: blue;
    	text-decoration: underline;
    	cursor: pointer;
	}

	.text-div a:link,.text-div a:visited { 
    	color: blue;
    	text-decoration: underline;
    	cursor: pointer;
	}

	a:hover {
		color: lightblue;
	}

	.column a:hover {
		color: lightblue;
	}

	.text-div a, .column a {
		font-size: 20px;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;
		overflow: hidden;
		border: 2px solid #1d1d1b;
		background-color: rgba(250,250,250,0.5);
	}

	.nav-text-container{
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	.logo {
		width: 150px;
		height: 80px;
		margin-right: auto;
	}

	.intro {
		padding: 50px 150px;
		letter-spacing: .2rem;
		line-height: 1.2;		
		font-weight: 700;
		letter-spacing: .2rem;
		font-size: 2.5em;
		color: white;
	}

	.line {
		margin-right: 10px;
		height: 50px;
		width: 50px;
	}

	.icons {
		width: 150px;
		height: 150px;
		padding-top: 100px;
	}

	.text-div h2 {
		font-size: 40px;
		padding-top: 50px;
		padding-left: 20px;
	}

	.text-div p {
		font-size: 20px;
		padding: 0px 40px;
	}

	.column {
		float: left;
		width: 33.3%;
		text-align: center;
		font-size: 20px;
	}

	.column p {
		text-align: left;
		padding: 0px 20px;
		line-height: 1.4em;
		height: 250px;
	}

	.column h2 {
		font-size: 40px;
		padding: 0px 20px;
	}

	.column-under {
		width: 100%;
		text-align: center;
	}

	.column-under h2 {
		font-size: 45px;
	}

	.column-under p{
		font-size: 25px;
	}

	#h2-diff{
		width: 290%;
	}

	.foot {
		background-color: black;
		border-radius: 20px;
	}

	.foot h2, .foot p {
		color: white;
		text-align: center;
		font-size: 20px;
	}

	.foot a {
		font-size: 20px;
		color: lightblue;
	}

	.workers-div{
		margin-top: 40px;
	}

	.img-div{
		display: inline-block;
		width: 20%;
		padding: 2%;
		text-align: center;
	}

	.img-div img{
		width: 100%;
	}

	#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
}

@media screen and (max-width: 821px){
	nav {
		text-align: center;
		list-style-type: none;
		overflow: hidden;
		border: 1px solid #1d1d1b;
		background-color: rgba(250,250,250,0.5);
	}

	.nav-text-container{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.text-background {
		width: 90%;
		height: 100%;
		margin: auto;
		border-radius: 20px;
		background-color: white;
	}

	.column a:link,.column a:visited { 
    	color: blue;
    	text-decoration: underline;
    	cursor: pointer;
	}

	.column a{
		font-size: 20px;
	}

	.logo {
		width: 150px;
		height: 80px;
	}

	.intro {
		font-size: 1.2em;
		color: white;
		text-align: center;
	}

	.line {
		margin: 0px;
		padding: 0px;
		height: 0px;
		width: 0px;
	}

	a {
		color: #1d1d1b;
		padding-top: 5px;
		padding-bottom: 5px;
		text-decoration: none;
		font-size: 120%;
	}

	.icons {
		width: 100px;
		height: 100px;
		padding-top: 50px;
	}
	
	.column, .column-under {
		text-align: center;
	}

	.column p, .column-under p {
		font-size: 20px;
		float: left;
	}

	.text-div h2 {
		font-size: 25px;
		padding-top: 50px;
		padding-left: 20px;
	}

	.text-div p {
		font-size: 17px;
		padding: 0px 40px;
	}

	.foot {
		background-color: black;
		border-radius: 20px;
	}

	.foot h2, .foot p {
		color: white;
		text-align: center;
		font-size: 14px;
	}

	.foot a {
		font-size: 14px;
		color: lightblue;
	}

}
