body {
	background-repeat: no-repeat;
	background-image: url(terapi4.jpg);
	font-family: 'Alegreya Sans', sans-serif;
	background-blend-mode: darken;
}

@media screen and (min-width: 1200px){
	body{
		background-repeat: no-repeat;
		background-image: url(terapi4.jpg);
		background-size: cover;
		font-family: 'Alegreya Sans', sans-serif;
		background-blend-mode: darken;
	}
}

@media screen and (max-width: 821px){
	nav {
		text-align: center;
		list-style-type: none;
		overflow: hidden;
		border: 1px solid #1d1d1b;
		background-color: rgba(250,250,250,0.5);
	}

	.nav-text-container{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.logo {
		width: 150px;
		height: 80px;
	}

	.intro {
		font-size: 100%;
		color: white;
		text-align: center;
	}

	.line {
		margin-right: 0px;
		padding-top: 0px;
		height: 0px;
		width: 0px;
	}

	a {
		color: #1d1d1b;
		padding-top: 5px;
		padding-bottom: 5px;
		text-decoration: none;
		font-size: 120%;
	}
}

@media screen and (min-width: 820px){
	
	.text-background1 {
		width: 1400px;
		height: 1000px;
		margin: auto;
		border-radius: 50px;
		background-color: white;
	}

	.text-background2 {
		width: 1400px;
		height: 1500px;
		margin: auto;
		border-radius: 50px;
		background-color: white;
	}

	.column a:link,.column a:visited { 
    	color: blue;
    	text-decoration: underline;
    	cursor: pointer;
	}

	.text-div a:link,.text-div a:visited { 
    	color: blue;
    	text-decoration: underline;
    	cursor: pointer;
	}

	a:hover {
		color: lightblue;
	}

	.text-div a {
		font-size: 20px;
	}

	.column a{
		font-size: 20px;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;
		overflow: hidden;
		border: 2px solid #1d1d1b;
		background-color: rgba(250,250,250,0.5);
	}

	.nav-text-container{
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	.logo {
		width: 150px;
		height: 80px;
		margin-right: auto;
	}

	.intro {
		padding: 50px 220px;
		letter-spacing: .2rem;
		line-height: 1.2;		
		font-weight: 800;
		letter-spacing: .2rem;
		font-size: 2.5em;
		color: white;
	}

	.line {
		margin-right: 10px;
		height: 50px;
		width: 50px;
	}

	a {
		color: #1d1d1b;
		text-align: center;
		text-decoration: none;
		font-size: 200%;
	}

	.icons {
		width: 150px;
		height: 150px;
		padding-top: 100px;
	}

	.text-div h2 {
		font-size: 40px;
		padding-top: 50px;
		padding-left: 20px;
	}

	.text-div p {
		font-size: 20px;
		padding: 0px 40px;
	}

	.column {
		float: left;
		width: 33.3%;
		text-align: center;
		font-size: 20px;
	}

	.column p {
		text-align: left;
		padding: 0px 20px;
		line-height: 1.4em;
	}

	.column h2 {
		font-size: 40px;
		padding: 0px 20px;
	}

	.foot {
		background-color: black;
	}

	.foot h2, .foot p {
		color: white;
		text-align: center;
		font-size: 20px;
	}

	.foot a {
		font-size: 20px;
		color: lightblue;
	}
}